---
import { HEADER_LOGO_DIMENSIONS, HEADER_LOGO_PATH, LOGO_NAME, SITE_FULL_NAME } from '../config';
import Image from '../components/Image.astro'
import Link from './Link.astro';

interface Props {

    class? : string,

    /**
     * none
     */
    props? : true
}

const { 
    class: className = '',
} = Astro.props
---

<Link to="#home" class="lenis-link">
    <div class={`flex items-center gap-0 text-xl stroke-[var(--nav-bar-logo-color)] ${className}`}>
    
        <Image src={ HEADER_LOGO_PATH } alt={SITE_FULL_NAME} width={HEADER_LOGO_DIMENSIONS.width} height={HEADER_LOGO_DIMENSIONS.height} />

        <span class="">
            {LOGO_NAME}
        </span>

    </div>
</Link>    

